@model DataAccessLayer.Entities.Booking
@{
    ViewData["Title"] = "Booking";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<!-- ======= Book A Table Section ======= -->
<section id="book-a-table" class="book-a-table">
    <div class="container" data-aos="fade-up">
        <br />
        <br />
        <br />
        <br />
        <div class="section-title">
            <h2>Rezervasyon</h2>

        </div>

        <form asp-action="Booking" method="post" role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
            <div class="row">
                <div class="col-lg-4 col-md-6 form-group">
                    <input asp-for="@Model.Name" type="text" class="form-control" placeholder="Adınızı Giriniz Lütfen" required>
                    <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
                    <input asp-for="@Model.Mail" type="email" class="form-control" placeholder="E-Posta Giriniz Lütfen" required>
                    <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
                    <input asp-for="@Model.Phone" type="number" class="form-control" placeholder="Telefon No Giriniz Lütfen" required>
                    <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6 form-group mt-3">
                    <input asp-for="@Model.Time" type="date" class="form-control"  required>
                    <div class="validate"></div>
                </div>

                <div class="col-lg-4 col-md-6 form-group mt-3">
                    <input asp-for="@Model.PeopleCount" type="number" class="form-control" placeholder="Kişi Sayısı Giriniz Lütfen" required>
                    <div class="validate"></div>
                </div>
            </div>
            <div class="form-group mt-3">
                <textarea asp-for="@Model.description" class="form-control" rows="5" placeholder="Açıklama Giriniz Lütfen" required></textarea>
                <div class="validate"></div>
            </div>
            <div class="mb-3">
                <div class="loading">Günderiliyor</div>
                <div class="error-message"></div>
                <div class="sent-message">Your booking request was sent. We will call back or send an Email to confirm your reservation. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Şimdi Yer Ayırt</button></div>
        </form>

    </div>
</section><!-- End Book A Table Section -->

